:root {
  --primary: rgb(154, 59, 59);
  --secondary: rgb(192, 130, 97);
  --ternary: rgb(226, 199, 153);
  --quadruary: rgb(242, 236, 190);
  font-family: "Press Start 2P", cursive;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100vh;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  background-color: var(--quadruary);
  border-radius: 5px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 550px;
  box-sizing: border-box;
}

#quote {
  margin-bottom: 15px;
}

.bottom-quote {
  display: block;
  text-align: right;
}

#text {
  margin: 0;
  font-size: 30px;
  color: black;
  margin-bottom: 15px;
  height: auto;
}

#author,
#movie {
  margin: 0 0 5px 0;
  text-align: right;
}

#btns {
  display: flex;
  justify-content: space-between;
}
#new-quote {
  font-family: "Press Start 2P", cursive;
  color: var(--ternary);
  background-color: var(--primary);
  border: none;
  padding: 20px;
}

#new-quote:hover {
  color: var(--quadruary);
  background-color: var(--secondary);
}
#creator {
  color: white;
  margin: 15px;
  text-align: center;
}

#socials {
  display: flex;
  gap: 10px;
}

#tweet-quote,
#tumblr-quote {
  color: var(--primary);
  text-decoration: none;
  background-color: var(--secondary);
  color: var(--quadruary);
  padding: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
