:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

#quote-box {
  background-color: white;
  border-radius: 5px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 550px;
  box-sizing: border-box;
}

#quote {
  margin-bottom: 15px;
}

#text {
  margin: 0;
  font-size: 45px;
  color: black;
  margin-bottom: 15px;
}

#author,
#movie {
  margin: 0 0 5px 0;
  text-align: right;
}

#btns {
  display: flex;
  justify-content: space-between;
}
#new-quote {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

#creator {
  color: white;
  margin: 15px;
  text-align: center;
}
